name: Publish TechDocs Site

on:
  push:
    branches:
      - develop
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
  workflow_dispatch:

jobs:
  publish-techdocs-site:
    name: Publish techdocs site
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      GCP_WIP_PROVIDER: ${{ secrets.GCP_WIP_PROVIDER }}
      GSA_EMAIL: ${{ secrets.GCP_SA_EMAIL }}
      TECHDOCS_GCS_BUCKET_NAME: ${{ secrets.TECHDOCS_BUCKET_NAME }}
      ENTITY_NAMESPACE: 'default'
      ENTITY_KIND: 'Component'
      ENTITY_NAME: ${{ values.app_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth'
        with:
          workload_identity_provider: ${{ env.GCP_WIP_PROVIDER }}
          service_account: ${{ env.GSA_EMAIL }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 'latest'

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install techdocs-cli
        run: sudo npm install -g @techdocs/cli

      - name: Install mkdocs and mkdocs plugins
        run: python -m pip install mkdocs-techdocs-core==1.*

      - name: Generate docs site
        run: techdocs-cli generate --no-docker --verbose

      - name: Publish docs site
        run: techdocs-cli publish --publisher-type googleGcs --storage-name $TECHDOCS_GCS_BUCKET_NAME --entity $ENTITY_NAMESPACE/$ENTITY_KIND/$ENTITY_NAME
